/* google font */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
/* reset defalut padding and margin */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #2c2b2a;
}
/* header styles */
header {
  /* display: inline-block; */
  height: 450px !important;
  width: 100%;
  background: rgb(6, 10, 2);
}
.headerH2 {
  font-family: "Berkshire Swash", cursive;
  font-size: 4rem;
  padding-top: 10%;
  color: rgb(255 94 25);
  padding-left: 7%;
}
.header-img {
  height: 232px;
  width: 390px;
  position: relative;
  right: 98px;
  bottom: 90px;
}
.header-intro p{
  padding: 0 21rem;
}
.player-profile {
  border: 2px solid #434343;
}
.selection-div {
  background: rgb(6, 10, 2);
  padding: 50px;
  height: 318px;
}

#selected-players-list li {
  line-height: 2rem;
}
#budgets {
  height: 490px;
  background: rgb(6, 10, 2);
  color: rgba(255, 255, 255, 0.973);
}
#budgets input {
  width: 120px;
  background: rgb(6, 10, 2);
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
label {
  width: 100px;
  display: inline-block;
}

.doller-sign {
  margin-left: 120px;
  color: rgb(255 94 25);
}
